{% extends 'main.html' %}
{% load static %}

{% block content %}
<style>
    /* Your CSS */
</style>

<!-- Carousel Section -->
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
      {% for i in image %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}"
          class="{% if forloop.first %}active{% endif %}" aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
      {% endfor %}
  </div>
  <div class="carousel-inner">
      {% for i in image %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <img src="{{ i.image.url }}" alt="Image not found" class="d-block w-100">
      </div>
      {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- Categories Section -->
<div class="category-container" style="position:relative; top:-200px;">
    {% for i in cat %}
    <div class="category-card">
        <a href="{% url 'products' i.id %}">
            <img src="{{ i.image.url }}" alt="Image not found">
            <h2 class="category-title">{{ i.cname }}</h2>
        </a>
    </div>
    {% endfor %}
</div>

<!-- Banners Section -->
<div class="banner-container">
    {% for i in ibanners %}
    <div class="banner">
        <div class="banner-text">
            <h2>{{ i.title }}</h2>
            <p>{{ i.desc }}</p>
            <a href="#" class="buy-button">Buy Now</a>
        </div>
        <img src="{{ i.image.url }}" alt="Product">
    </div>
    {% endfor %}
</div>

{% endblock content %}
